<div class="container-fluid">
  <div class="row" style="min-height:600px; overflow: auto">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <canvas id="piCam" width="650px" height="600px" style="background-color:#111"></canvas>
      </div>
      <div class="col-md-2">
          <p id="results" style="color: white">Elapsed time = {{frames}}</p>
      </div>
  </div>
</div>
<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-md-4 full-height">
      <lib-joystick [Id]="'leftRight'" (joystickMoved)="onJoystickMoved($event)" [isVertialLocked]="true">
      </lib-joystick>
    </div>
    <div class="col-md-4 full-height"></div>
    <div class="col-md-4 full-height">
      <lib-joystick [Id]="'upDown'" (joystickMoved)="onJoystickMoved($event)" [isHorizontalLocked]="true">
      </lib-joystick>
    </div>
  </div>
</div>
